[Unit]
Description=docker-libvirtd
Requires=docker.service
After=docker.service


[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill libvirtd
ExecStartPre=-/usr/bin/docker rm libvirtd
ExecStartPre=/usr/bin/docker pull qmxme/libvirtd
ExecStart=/usr/bin/docker run -v /var/run/libvirt:/var/run/libvirt --privileged --name libvirtd qmxme/libvirtd 

[Install]
WantedBy=multi-user.target
